---
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
import NewWindowHint from "./NewWindowHint.astro";
import { cvSections } from "../data/profile";

type Props = {
  name: string;
  url: string;
  hostname: string;
  description: string;
  tags: readonly string[];
};

const { name, url, hostname, description, tags } = Astro.props;
---

<article class="project-card">
  <div class="project-card__main">
    <h3 class="project-card__title">
      <a class="link-external" href={url} rel="noopener noreferrer" target="_blank">
        {name}
        <NewWindowHint />
        <ExternalLinkIcon />
      </a>
    </h3>
    <p class="project-card__host">{hostname}</p>
    <p class="project-card__desc">{description}</p>
  </div>
  <div class="project-card__foot">
    <ul class="project-card__tags" aria-label="Teknologiat">
      {tags.map((tag) => <li>{tag}</li>)}
    </ul>
    <a class="project-card__cta link-external" href={url} rel="noopener noreferrer" target="_blank">
      {cvSections.openSite}
      <NewWindowHint />
      <ExternalLinkIcon />
    </a>
  </div>
</article>
